html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    font-family: 'Circular Std Medium', sans-serif;
}
.main-menu {
    max-width: 250px;
    width: 100%;
    min-height: 100vh;
}

.main-menu .header {
    background: #7F63F4;
    max-height: 35px;
    height: 100%;
}

.main-menu h2 {
    color: #B1B2B7;
    font-size: 12px;
    padding: 0 30px;
}
.main-menu li {
    color: #91929A;
    font-size: 13px;
    padding: 12px 30px;
    transition: all .25s ease-in-out;
}

.main-menu ul a{
    color: inherit;
    text-decoration: none;
}

.main-menu li:hover{
    background: #E8E7F9;
    cursor: pointer;
    font-weight: 700;
    border-left: 5px solid #7f63f4;
    transition: all .25s ease-in-out;
    color:#7f63f4
}

.main-menu li:hover svg{
    fill:#7f63f4;
}

.main-menu span{
    margin-left: 15px;
}

.main-menu hr {
    color: #E7E7E7;
    background: #E7E7E7;
    border: 0;
    height: 1px;
}

.main-menu button{
    background: transparent;
    width: 100%;
    padding: 0;
    font-weight: 100;
    text-transform: none;
}
