.something .tag-name{

}

.something .tag{
    background: red;
    margin: 5px 7px;
    padding: 2px 10px;
    border-radius: 15px;
    color:white;
    font-size: 10px;
    vertical-align: center;
    align-items: center;
}

.tag .close{
    position: unset;
    font-size: 20px;
    margin-left: 2px;
}
