.blog-table .title{
    width:40%;
}

.blog-table .header th{
    font-weight: bold;
    color: black;
    padding: 15px 0;
    border-bottom: 2px solid black;
}

.viewBlogsPage h1{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.blog-table .missing{
    padding: 3px 8px;
    background: red;
    color:white;
    display: inline-block;
    border-radius: 13px;
    font-size: 10px;
}
