.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.modal:before{
  width: 30px;
  position: absolute;
  right: 0;
  top:0;
  background:  #4285F4;
  content: '';
  height: 100%;
  margin-left: 30px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100px;
  background: white;
  margin: auto;
  padding: 30px 60px 30px 30px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  max-width: 450px;
  overflow-y: scroll;
  max-height: 90vh;
  overflow-x: hidden;
  //box-shadow: 0 0 30px rgb(0 0 0 / 10%);
}

.modal .close {
  position: absolute;
  top: 5px;
  right:0px;
  font-size: 30px;
  color:white;
}

.modal .close:hover {
  cursor: pointer;
}
