.main {
    background: #F3F7FA;
    width: 100%;
    min-height: 100%;
}

.main .banner {
    padding: 17px;
    background: #E8E7F9;
    font-size: 14px;
    align-items: center;
}
.main .banner h1{
    color:#7f63f4;
    font-size:16px;
}


.main .banner a{
    color:#abafb3
}

.main .content{
    padding: 50px;
    box-sizing: border-box;
}





