.editBlog{
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 999;
}

.editBlog .modal{
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 999;
}
