.header {
    padding: 20px;
    color: white;
    max-height: 35px;
    height: 100%;
}

.header .search-icon {
    position: absolute;
    top: 10px;
    left: 15px;
    fill: #B9B9B9;
    font-size: 13px;
}

.logout {
    color: black;
}

.profileImg {
    max-width: 40px;
    height: auto;
    border-radius: 50%;
}

.profileImg:hover {
    cursor: pointer;
}

.item {
    position: absolute;
    background: white;
    padding: 0 0 15px 0;
    right: -10px;
    width: 288px;
    border: 1px solid rgba(0, 0, 0, .15);

}


.item a {
    text-decoration: none;
    color: #686c71;
    font-weight: 100;
    font-size: 14px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

.item a:hover {
    background: #EBECF6;
}

.item span {
    margin-left: 10px;
}

.rightHeader {
    position: relative;
}

.deActive {
    display: none;
}


.active {
    display: block;
}

.info {
    padding: 15px;
}

.noHover:hover {
    background: none !important;
}
.my-settings{
    z-index: 999;
}
.my-settings .header {
    background: linear-gradient(
            45deg, #7f63f4, #2962FF);
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: .25rem .25rem 0 0;
}

.my-settings .logout {
    font-size: 15px;
    color: white;
}

.my-settings .userName {
    padding: 0 0 0 10px;
}
