.background{
  background: #4285F4;
  height: 100vh;
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 70px 50px;
  background: white;
  min-width: 300px;
  width: 20%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login h1{
  font-size: 30px;
  font-weight: 300;
  color:black;
}

.login h2{
  font-size: 15px;
  color:#c3c3c3;
  font-weight: 100;
  text-transform: none!important;
  margin-bottom: 50px;
  line-height: 50px;
}

.login button{
}

.login .form-group{
  margin: 40px 0!important;
  position: relative;
}

.login .icon{
  position: absolute;
  top:20px;
  background: #4285F4;
  padding: 13px 15px 6px 15px;
  color:white;
  font-size: 15px;
}

.login .footer{
  margin: 40px 0 0 0 ;
  text-align: center;
  color:#c3c3c3;
}

.login input[type=text],.login input[type=password]{
  padding-left: 55px;
  font-weight: normal;
}

.error-message{
  color:red;
  margin-top: 10px;
}
