.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


.modal .close {
  position: absolute;
  top: 5px;
  right:-30px;
  font-size: 30px;
  color:white;
}

.modal .close:hover {
  cursor: pointer;
}
