.titles {
    padding: 20px;
    border-bottom: 1px solid #e2e2e1;
    color: #898989;
}

.user {
    padding: 20px;
    border-bottom: 1px solid #e2e2e1;
}

.user-table {
    width: 100%;
    margin-top: 20px;
}

.user-table th, td {
    text-align: left;
    vertical-align: middle;
    padding: 10px 0;
}

.user-table tr:first-child {
    border-bottom: 2px solid black;
}

.user-table th:last-child, td:last-child {
    text-align: right !important;
}

.user-table img {
    max-width: 50px;
}
