@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  --theme-hl: #01d1a7;
}

.App {
  font-family: 'Montserrat', sans-serif;
  background: #E5E5E5;
  padding: 80px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #525252;
  text-transform: uppercase;
  z-index: 10;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin: 0 50px 0 0;
  color: #484848;
  z-index: 10;

}

h3:after {
  content: "";
  position: relative;
  display: block;
  width: 10rem;
  height: 3px;
  border-radius: 5px;
  background-color: var(--theme-hl);
}

.button--xs {
  color: #18A0FB;
  border: 1px solid #18A0FB;
  padding: 11px 22px;
  border-radius: 7px;
  transition: all .25s ease-in-out;
  text-decoration: none;
}

.button--xs:hover {
  background: #18A0FB;
  color: white;
}

.full-width {
  width: 100%;
  flex-basis: 100%;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.theme--color {
  color: var(--theme-hl);
}


.middle {
  display: flex;
  align-items: center;
}

.width-full {
  width: 100%;
}

.input-wrapper {
  position: relative;
}

.input-default {
  background: #F3F3F3;
  border: none;
  padding: 10px 40px;
}

.input-default:focus {
  border: none;
  outline: none;
}

.space-between {
  justify-content: space-between;
}

.color-purple {
  color: #7f63f4
}

.icon {
  font-size: 18px;
  padding: 0 10px;
}

.align-stretch {
  align-items: stretch;
}

.vertical-center {
  align-items: center;
}

button {
  outline: none;
  background: #4285F4;
  border: 0;
  border-radius: 4px;
  padding: 9px 15px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

button:not:first-child {
  margin: 0 10px;
}

.text-right {
  text-align: right;
}

.minWidth30 {
  min-width: 30%;
}
.minWidth80 {
  min-width: 80%;
}

.clearPadding{
  padding:0!important;
}

.white{
  color:white;
}

.mr-10{
  margin-right: 10px;
}

.aceEditor{
  z-index: 0;
}

button:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}


.relative{
  position: relative;
}

.save-model{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: red;
  padding: 75px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.2);
}

.save-model button{
  margin: 20px 0;
}
.btn-container{
  display: flex;
  justify-content: space-between;
}
